<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	  data-namespace-typo3-fluid="true"
	  v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd">
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="royalSlider rsDefault layout-1 clearfix" data-options="{slider.options}" data-layout="layout1" id="rs-{data.uid}">
	<f:for each="{files}" as="file">
		<figure class="slider-item"><f:spaceless>
			<img
					src="<v:uri.image src="{file}"  width="1180c" height="354c" format="jpg" quality="92" />"
			srcset="
			<v:uri.image src="{file}"  width="960c" height="320c" format="jpg" quality="50" /> 880w,
			<v:uri.image src="{file}"  width="1180c" height="354c" format="jpg" quality="92" /> 1180w
			"
			alt="{file.properties.alt}"
			title="{file.properties.title}"
			class="rsImg"
			>
			<f:if condition="{file.properties.description}">
				<figcaption>{file.properties.description}</figcaption>
			</f:if>
		</f:spaceless></figure>
	</f:for>
</div>

</html>