<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	  data-namespace-typo3-fluid="true"
	  v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd">
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:if condition="{slider.settings.layout} != ''">
	<f:then><f:render section="Layout-{slider.settings.layout}" arguments="{_all}" /></f:then>
	<f:else><f:render section="Layout-1" arguments="{_all}" /></f:else>
</f:if>

<f:section name="Layout-1">
<div class="slick-slider layout-1 clearfix" data-options="{slider.options}">
	<f:for each="{files}" as="file">
		<figure class="slick-slider-item"><f:spaceless>
			<img
					src="<v:uri.image src="{file}"  width="1180c" height="354c" format="jpg" quality="92" />"
			srcset="
			<v:uri.image src="{file}"  width="960c" height="320c" format="jpg" quality="50" /> 880w,
			<v:uri.image src="{file}"  width="1180c" height="354c" format="jpg" quality="92" /> 1180w
			"
			alt="{file.properties.alt}"
			title="{file.properties.title}"
			>
			<f:if condition="{file.properties.description}">
				<figcaption>{file.properties.description}</figcaption>
			</f:if>
		</f:spaceless></figure>
	</f:for>
</div>
</f:section>

<f:section name="Layout-2">
	<div class="slick-slider layout-2 clearfix" data-options="{slider.options}">
		<f:for each="{files}" as="file">
			<figure class="slick-slider-item">
				<f:image image="{file}" height="450c" width="600c" alt="{file.properties.alt}" title="{file.properties.title}"/>
				<f:if condition="{file.properties.description}">
					<figcaption>{file.properties.description}</figcaption>
				</f:if>
			</figure>
		</f:for>
	</div>
	<div class="slick-caption-holder"></div>
</f:section>
